.navbar {
  background-color: green;
  padding: 1rem 2rem;

}

.navbar-links {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
}

.navbar a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 0.8rem 2rem;
  border-radius: 6px;
}

.navbar a.active {
  border: 4px solid white;
}

